*{
	margin: 0px auto;
	font-family: 'Ubuntu', sans-serif;
}
body{
    background: url('http://th04.deviantart.net/fs70/PRE/f/2013/065/b/b/pokemon_wallpaper__be_prepared__line_version_2___by_fpkayton-d5x6s3e.png')
}
a{
    text-decoration: none;
}
.content
{
    margin-top: 60px; /* .header's height + padding-top*/
    width:100%;
}
.admin_header_div
{
    color: white;
    background:pink; /*need to echo different colors depending on admin vs. user*/
    height: 60px; /*should change .content margin-top to this value + padding-top*/
    width:100%;
    position:fixed;
    top: 0px;
    display: block;
}
.admin_header_div li
{
    padding: 17px 20px 0px 0px;
    display: inline-block;
    list-style-type: none;
}
.admin_header_div a:link, .admin_header_div a:visited
{
    color:white;
}
.admin_header_div a:hover, .admin_header_div a:active
{
    color:red;
}
table
{
 	width: 80%;
    margin: 0px auto;
    padding: 0px auto;
    background: white;
}
	tbody tr:nth-child(odd)
    {
    background-color: silver;
    }
    tbody tr:nth-child(even)
    {
    background-color: whitesmoke;
    }
.dashboard_left
{
	outline: 1px solid;
    display: inline-block;
	vertical-align: top;
    width: 35%;
	margin: 0px auto;
}
.dashboard_right
{
    display: inline-block;
	vertical-align: top;
	width: 55%;
	margin: 0px auto;
}
	.status
	{
		background-color: lime;
		color: green;
		display: inline-block;
		vertical-align: top;
        padding: 10px 20px 10px 20px;
		margin: 0px auto;
	}
	.dashboard_total
	{
		display: inline-block;
		vertical-align: top;
		margin-left: 250px;
	}
.each_product
{
	display: inline-block;
	vertical-align: top;
}
.search_div
{
    width: 80%;    
    display: block;
    vertical-align: top;
    text-align: right;
    padding: 20px;
}
.pagination_div
{
    width: 100%;    
    display: block;
    vertical-align: top;
    text-align: center;
    padding: 10px;
}
.line_break {
    display: block;
}
.product_image_size {
    width: 100px;
    height: 100px
}




/*MODAL STYLE*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}