*{
	margin: 0px auto;
	font-family: arial;
}
body
{
	background: url('http://2.bp.blogspot.com/-osUTAZAKDUQ/UEF5_29R3tI/AAAAAAAAFh4/4i0AuXUDF7U/s1600/Pokemon+wallpaper+hd.png');
}
a{
	text-decoration: none;
	color: black;
	border: 1px black;
	border-radius: 3px;
	color:	white;
	text-shadow: 2px 2px 4px #000000;
}
.submit{
	padding: 10px 20px;
	border: 1px solid black;
	box-shadow: 0px 2px 2px #000000;
}
.submit_search{
	background: #CBD0D1;
	border: none;
	border-radius: 3px;
}
.shopping_header_div
{
    color: white;
    background:black; *//*need to echo different colors depending on admin vs. user
    height: 66px; /*should change .content margin-top to this value + padding-top*/
    position:fixed;
    vertical-align: top;
    display: block;
}
.shopping_header_div li
{
    padding: 17px 20px 17px 0px; /* .header's height + padding-top*/
    display: inline-block;
    vertical-align: top;
}
	.shopping_header_div li:last-of-type
	{
		padding-left:450px;
	}
.shopping_header_div a:link, .shopping_header_div a:visited
{
    color:white;
}
.shopping_header_div a:hover, .shopping_header_div a:active
{
    color:grey;
}
.each_product
{
	opacity: 1;
	background-color: whitesmoke;
	display: inline-block;
	vertical-align: top;
	min-width: 17%;
	min-height: 200px;
	padding: 5px;
}
.header_content{
	border-radius: 5px;
	display: inline-block;
	background: #A9ADAE;
}
.title{
	border: 1px solid blue;
	float: left;
}
.cart_amount{
	border: 1px solid green;
	float: right;
}
.side_bar_div
{
	margin: 20px 0px 100px 10px;
	width: 15%;
	padding:10px 0px 0px 10px;
	height: 500px;
	border: 1px solid black;
	border-radius: 5px;	
	display: inline-block;
	vertical-align: top;
	background: silver;
}
.customer_info
{
	background:whitesmoke;
	width: 40%;
	text-align: center;
	margin-top: 30px;
}
.customer_info_hidden
{
	display: none;
}
.pagination_div
{
	width: 100%;	
	display: block;
	vertical-align: top;
	text-align: center;
}
.products_div /*main store*/
{
	margin-top:20px;
	width: 80%;
	outline: 1px solid black;
	background: whitesmoke;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#product_div /*one product display */
{
	width: 85%;
	outline: 1px solid black;
	background: whitesmoke;
	display: block;
	vertical-align: top;
	text-align: center;
}
/*#product_name_div{*/
/* Set a counter named cnt to 0 */
	/*counter-reset: cnt;
	position:relative;
	text-align:center;
	padding:20px 0;
	width:40%;
	margin: 0 auto;
	display: inline-block;*/
/*}*/
/*#product_name span{
	display:inline-block;
	padding:2px 6px;
	background-color:#78CCD2;
	color:#186C72;
	border-radius:4px;
	margin:3px;
	cursor:default;
	}
	#product_name span::after{
		/* Every time this rule is executed, the counter value is increased by 1 */
		/*counter-increment: cnt;*/
		/* Add the counter value as part of the content */
		/*content:" #" counter(cnt);*/
		/*display:inline-block;
		padding:4px;*/
	/*}*/
	/*#product_name span::before{
		position:absolute;
		bottom:0;
		left:0;
		width:100%;
		content:attr(data-title);
		color:#666;
		opacity:0;
		/* Animate the transitions */
		/*-webkit-transition:opacity 0.4s;
		transition:opacity 0.4s;*/
	/*}*/
	/*#product_name span:hover::before{
		opacity:1;
	}*/
	#main_img
	{
		display: inline-block;
		vertical-align: top;
		width: 400px;
		height:400px;
	}
.product_description_div
{
	margin-top: 20px;
	outline: 1px solid;
	width: 40%;
	height:200px;
	border-radius: 10px;
	background: black;
	color:white;
	display: inline-block;
	vertical-align: top;
}
.similar_items_div
{
	width: 85%;
	outline: 1px solid black;
	background: whitesmoke;
	display: block;
	vertical-align: top;
	text-align: center;
}
.similar_item_single_div
{
	width: 18%;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
#similar_img
{
	width: 100%;
}