*
{
	font-family: sans-serif;
	margin: 5px auto;
	clear: both;
}
body
{
	margin-top: 60px;
	width: 1200px;
}
.shopping_header_div
{
    color: white;
    background:lime; /*need to echo different colors depending on admin vs. user*/
    height: 60px; /*should change .content margin-top to this value + padding-top*/
    width:100%;
    position:fixed;
    top: 0px;
}
.shopping_header_div li
{
    padding: 17px 20px 0px 0px;
}
.shopping_header_div a:link, .shopping_header_div a:visited
{
    color:white;
}
.shopping_header_div a:hover, .shopping_header_div a:active
{
    color:green;
}
.each_product
{
	display: inline-block;
	vertical-align: top;
	width: 200px;
	height: 200px;
	border: 1px solid red;
	padding: 5px;
}
.header_content
{
	border: 1px solid purple;
	display: block;
}
.title
{
	border: 1px solid blue;
	float: left;
}
.cart_amount
{
	border: 1px solid green;
	float: right;
}
.side_bar
{
	float: left;
	width: 18%;
	border: 1px solid black;	
	display: inline-block;
}
.products
{
	float: right;
	width: 80%;
	border: 1px solid purple;
}